//That is an example of SEO service and Http interceptor which can be used with 

angular.module('seo')

.service('SeoService', ['$rootScope', '$http', '$timeout', '$log', function($rootScope, $http, $timeout, $log){
	var requestTimeout = null;

	$rootScope.markPageAsReady = function() {
		$timeout.cancel(requestTimeout);
		
		requestTimeout = $timeout(function () {
			//Fire only if there are 0 pending requests
			if($http.pendingRequests.length < 1) {
				$log.debug('Phantom ready');
				if (typeof window.callPhantom == 'function') { 
					window.callPhantom();
				}
			}

		}, 1000);//1.0 seconds safety interval, if there are no requests for 1.0 seconds, the app will send a request to phantom to render it
	}
}])

.run(['SeoService', function(SeoService) {true}]); //Automatically initialize seo service on app run

.config(['$httpProvider', function($httpProvider) {
	$httpProvider.interceptors.push('htmlReadyInterceptor');
}])

.factory('htmlReadyInterceptor', ['$rootScope', function($rootScope){
	return {
		response: function(response) {
			$rootScope.markPageAsReady();
			return response;
		}
	};
}])
